html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
/* remember to define visible focus styles! 
    :focus{
      outline:?????;
    } */

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*------------------------------------*\
      $MAIN
    \*------------------------------------*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

body {
  margin: 30px auto;
  width: 90%;
  max-width: 1240px;
  font-family: "Roboto", sans-serif;
  background-color: #f6f6f6;
}

/* Typography */

h1 {
  font-size: 28px;
  font-weight: 300;
  flex: 1;
  color: #126264;
}
h1:hover {
  color: #5f9ea0;
}

h5 {
  font-weight: 500;
  line-height: 1.7em;
  color: #126264;
}
h5:hover {
  color: #5f9ea0;
}

h6 {
  color: #666;
  font-size: 14px;
  color: #126264;
}
h6:hover {
  color: #5f9ea0;
}

@media (max-width: 480px) {
  h1 {
    margin-bottom: 20px;
  }

  h3 {
    margin-top: 30px;
  }
  .product-filter {
    flex-direction: column;
  }

  .sort {
    align-self: flex-start;
  }
}
a {
  text-decoration: none;
  color: #126264;
}
a:hover {
  color: #5f9ea0;
}
h2 {
  text-decoration: none;
  color: #126264;
}
h2:hover {
  color: #5f9ea0;
}
h3 {
  text-decoration: none;
  color: #126264;
}
h3:hover {
  color: #5f9ea0;
}
h4 {
  text-decoration: none;
  color: #126264;
}
h4:hover {
  color: #5f9ea0;
}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 480px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.17em;
}
h5 {
  font-size: 0.83em;
}
h6 {
  font-size: 0.75em;
}

p {
  font-size: 1rem;
}
